@using System.Globalization
@model MovieViewModel

@{
    ViewData["Title"] = "Index";

    Func<DayOfWeek, string> localizeDayName = day =>
    {
        var localized = DateTimeFormatInfo.CurrentInfo.GetDayName(day).ToUpper().First().ToString();
        localized += DateTimeFormatInfo.CurrentInfo.GetDayName(day).Substring(1);
        return localized;
    };
}


<h1>@Model.Movie.Title</h1>

<div>
    <table class="table">
        <tbody>
            <tr>
                <td rowspan="6">
                    <img src="@Url.Action("DisplayImage", "Home", new { id = Model.Movie.Id })" style="max-height: 300px"/>
                </td>
            </tr>
            <tr>
                <th>Rendező:</th>
                <td>@Model.Movie.Director</td>
            </tr>
            <tr>
                <th>Főszereplők:</th>
                <td>@Model.Movie.Cast</td>
            </tr>
            <tr>
                <th>Tartalom:</th>
                <td> @Model.Movie.Storyline</td>
            </tr>
            <tr>
                <th>Hossz:</th>
                <td>@Model.Movie.Runtime perc</td>
            </tr>
            <tr>
                <th>Premier:</th>
                <td>@Model.Movie.Added.Date.ToString().Substring(0, 13)</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <h2>Vetítések</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nap
                </th>
                <th class="text-center" colspan="3">
                    Vászon
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var showtimesOnDay in Model.ShowtimesForMovie)
            {
                <tr>
                    <th class="nobr">
                        @localizeDayName(showtimesOnDay[0].Time.DayOfWeek)
                    </th>
                    @foreach (var showtime in showtimesOnDay)
                    {
                        <td>
                            <a asp-action="Book" asp-route-showtimeId="@showtime.Id">
                                @showtime.Time.TimeOfDay.ToString().Substring(0, 5)
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
